<div class="container">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%# Users posting images %>
    <%= f.input :user_img, as: :file %>
    <%= f.submit :submit, class: 'btn btn-primary mt-3 text-white' %>
  <% end %>
  <%= link_to 'Go back', lists_path, class: "btn btn-primary mt-3 text-white"%>
</div>
