<div class="container mt-3">
  <ul class="list-group">
    <% @lists.each do |list| %>

        <%= link_to list_path(list.id), method: :get, class: "" do %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>


              <% if list.user_img.attached? %>
                <%= cl_image_tag list.user_img.key, height: 50, crop: :thumb, class: "rounded-circle" %>
              <% end %>

              <%= list.name%>
            </div>
            <div>
              <span class="badge badge-primary badge-pill">
                <%= list.movies.length%>
              </span>

              <%= link_to list_path(list.id),
                method: :delete,
                data: {confirm: "Are you sure?"},
                class: '' do %>
                  <i class="fas fa-trash-alt ml-3" style="font-size: 20px"></i>
              <% end %>

            </div>
          </li>
        <% end %>

    <% end %>

    <%= link_to '#', data: {toggle: "modal", target: "#AddListModal" } do %>
      <li class="list-group-item">
        + New List
      </li>
    <% end %>
  </ul>
</div>

<%# ############################################################### %>
<%# Modal Add List %>

<div class="modal fade" id="AddListModal" tabindex="-1" role="dialog" aria-labelledby="AddListModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddListModalLabel">Add list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container mt-3">

          <%= simple_form_for(List.new) do |f| %>
            <%= f.input :name %>
            <%= f.input :user_img, as: :file %>

        </div>
      </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit :submit, class: 'btn btn-primary text-white' %>
          <% end %>

        </div>


    </div>
  </div>
</div>
