<div class="container mt-3">
  <ul class="list-group">
    <% @lists.each do |list| %>

        <%= link_to list_path(list.id), method: :get, class: "" do %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>


              <% if list.user_img.attached? %>
                <%= cl_image_tag list.user_img.key, height: 50, crop: :thumb, class: "rounded-circle" %>
              <% end %>

              <%= list.name%>
            </div>
            <div>
              <span class="badge badge-primary badge-pill">
                <%= list.movies.length%>
              </span>

              <%= link_to list_path(list.id),
                method: :delete,
                data: {confirm: "Are you sure?"},
                class: '' do %>
                  <i class="fas fa-trash-alt ml-3" style="font-size: 20px"></i>
              <% end %>

            </div>
          </li>
        <% end %>

    <% end %>
  </ul>
</div>
