<div class="container">

  <br>
  <div class="d-flex justify-content-between align-items-center">
    <h1>
      <%= @list.name %>
    </h1>

    <div class="d-flex align-items-end flex-column">
        <%= link_to '#', data: {toggle: "modal", target: "#AddListImgModal" } do %>
          <% if @list.user_img.attached? %>
            <%= cl_image_tag @list.user_img.key, height: 150, crop: :fit, class: 'rounded'%>
          <% else %>
            <span class="btn btn-light">
            + Add an image
            </span>
          <% end %>
        <% end %>
    </div>
  </div>

  <ul class="list-group mt-3">

    <% @list.bookmarks.each do |bookmark| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">

        <div class="d-flex align-items-center">
          <div class="mr-3">
            <%# include image here %>
            <%= image_tag bookmark.movie.poster_url, alt: '', class: 'poster-list' %>
          </div>

          <div>
            <div>
              <strong class="mr-3">
                <%= bookmark.movie.title %>
              </strong>
              || rating: <%= bookmark.movie.rating %>
            </div>
            <%= bookmark.comment %>
          </div>
        </div>

        <%# add checkbox seen/not-seen here %>
        <%= link_to bookmark_path(bookmark.id),
          method: :delete,
          data: {confirm: "Are you sure?"},
          class: '' do %>
            <i class="fas fa-trash-alt ml-3" style="font-size: 20px"></i>
        <% end %>
      </li>
    <% end %>

    <%# Modal trigger %>
    <%= link_to '#', data: {toggle: "modal", target: "#AddBookmarkModal" } do %>
      <li class="list-group-item">
        + Add bookmark
      </li>
    <% end %>

  </ul>

  <%= link_to 'Go back', lists_path, class: "btn btn-primary mt-3 text-white"%>
</div>

<%# ############################################################### %>
<%# Modal Add Bookmark %>

<div class="modal fade" id="AddBookmarkModal" tabindex="-1" role="dialog" aria-labelledby="AddBookmarkModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddBookmarkModalLabel">Add bookmark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container mt-3">

          <%= simple_form_for [@list, Bookmark.new] do |f| %>
          <%= f.association :movie, collection: Movie.remaining %>
          <%= f.input :comment %>

        </div>
      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit :submit, class: 'btn btn-primary text-white' %>
          <% end %>
        </div>


    </div>
  </div>
</div>


<%# ############################################################### %>
<%# Modal Add Image to list %>

<div class="modal fade" id="AddListImgModal" tabindex="-1" role="dialog" aria-labelledby="AddListImgModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddListImgModalLabel">
        <% if @list.user_img.attached? %>
          Update image
        <% else %>
          Add image
        <% end %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <%= simple_form_for(@list) do |f| %>
        <%# Users posting images %>
        <%= f.input :user_img, as: :file %>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit :submit, class: 'btn btn-primary text-white' %>
        <% end %>
      </div>

    </div>
  </div>
</div>
