<div class="container">

  <br>
  <div class="d-flex justify-content-between align-items-center">
    <h1>
      <%= @list.name %>
    </h1>
    <% if @list.user_img.attached? %>
      <%= cl_image_tag @list.user_img.key, height: 150, crop: :fit, class: 'rounded-circle'%>
    <% end %>
  </div>

  <ul class="list-group mt-3">

    <% @list.bookmarks.each do |bookmark| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="mr-3">
            <%# include image here %>
            <%= image_tag bookmark.movie.poster_url, alt: '', class: ''%>
          </div>
          <strong class="mr-3">
            <%= bookmark.movie.title %>
          </strong>
          || rating: <%= bookmark.movie.rating %>
        </div>
        <%# add checkbox seen/not-seen here %>
        <%= link_to bookmark_path(bookmark.id),
          method: :delete,
          data: {confirm: "Are you sure?"},
          class: '' do %>
            <i class="fas fa-trash-alt ml-3" style="font-size: 20px"></i>
        <% end %>
      </li>
    <% end %>

    <%# Modal trigger %>
    <%# <%= link_to new_list_bookmark_path(@list.id), method: :get, class: '', data: {toggle: "modal", target: "#exampleModal" } do %>
    <%= link_to new_list_bookmark_path(@list.id), method: :get, class: '', data: {toggle: "modal", target: "#exampleModal" } do %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        + Add movie
      </li>
    <% end %>

    <%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button> %>

    <%# Modal %>
<%#
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div> %>

  </ul>

  <%= link_to 'Go back', lists_path, class: "btn btn-primary mt-3 text-white"%>
</div>
