<%# Check out simple_form doc on Association
To create a dropdown list out of Movie.all
https://github.com/heartcombo/simple_form#associations %>

<div class="container mt-3">
  <h1>
    <%= @list.name %>
  </h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%# how to have only non-taken movies displayed in here ?? %>
    <%= f.association :movie, collection: Movie.remaining %>
    <%= f.input :comment %>
    <%= f.submit :submit, class: 'btn btn-primary mt-3 text-white' %>
  <% end %>
  <%= link_to 'Go back', list_path(@list.id), class: "btn btn-primary mt-3 text-white"%>
</div>
